@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	/* changes a default 16px font size to 10px */
}

body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(251, 63%, 14%);
	min-height: 100vh;
}

.column-left {
	width: 60%;
}

.column-right {
	width: 40%;
}

.card-1 {
	display: flex;
	width: 80rem;
	background-image: linear-gradient(to right top, #650465 20%,rgb(15 104 247));
	border-radius: 2rem;
	padding: 4rem;
}

.card-1.hide {
	display: none;
}

.card-2.hide {
	display: none;
}

.card-1-header {
	font-size: 4.8rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: white;
}

.sub-header {
	font-size: 1.4rem;
	padding-top: 2rem;
	color:white;
}
.benefits-list {
	padding: 2rem 0rem 2rem 0rem;
}
.list-item {
	display: flex;
	align-items: center;
	font-size: 1.4rem;
	list-style-type: none;
	padding: 1rem 0.5rem 1rem 0.5rem;
	color: white;
}

.check-icon {
	padding-right: 1rem;
}

.form-label {
	color: white;
	font-size: 1.4rem;
	font-weight: 800;
	padding-top: 2rem;
}
.form-input {
	padding: 1.5rem;
	margin: 1.5rem 0rem 1.5rem;
	border-radius: 1rem;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.251);
	border: solid .5px;
	border-color: white;
	color: white;
}

::placeholder {
	color: white;
	font-size: 1.4rem;
}

.background-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 4rem;
}

.btn-submit {
	margin: 2rem;
	padding: 0.4rem;
	background-color:  rgb(255, 255, 255);
	color: hsl(276, 66%, 25%);
	font-size: 1.6rem;
	font-family: 'Roboto' sans-serif;
	font-weight: 600;
	border-radius: 1rem;
	padding: 2rem 3rem 2rem 3rem;
	width: 90%;
	margin: 2rem 0rem 2rem 0rem;
	border: none;
	cursor: pointer;
}

.btn-submit:hover {
	background-color:rgb(15 104 247);
	border-radius: 2rem;
	color:white;
	transition: all .4s;
}

.card-2 {
	background-image: linear-gradient(to right top, purple 75%,blue);
	width: 35rem;
	padding: 4rem;
	border-radius: 2rem;
}

.card-2-icon {
	width: 4rem;
	padding-bottom: 1.5rem;
}
.card-2 h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 3.8rem;
	color: hsl(234, 29%, 20%);
	padding-bottom: 2rem;
}

.card-2-message {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: hsl(234, 29%, 20%);
}

.card-2-btn {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	width: 100%;
	border-radius: 2rem;
	color: hsl(0, 0%, 100%);
	background-color: hsl(234, 29%, 20%);
	border: none;
	border-radius: 0.5rem;
	padding: 1.5rem 3rem 1.5rem 3rem;
	cursor: pointer;
	margin: 2rem 0rem 0rem 0rem;
}

.card-2-btn:hover {
	transition: all .5s;
	background-color:hsl(4, 100%, 67%)
}


@media (max-width: 768px) {
	.card-1 {
		flex-direction: column-reverse;
		width: 100%;
		padding: 0rem;
		border-radius: 0rem;
	}

	body {
		padding: 0;
		margin: 0;
	}
	.card-1 h1 {
		font-size: 4rem;
		justify-content: center;
	}

	.column-left {
		width: 100%;
		padding: 2rem;
	}
	.background-image {
		width: 70%;
	}

	.column-right {
		width: 100%;
	}

	.form {
		width: 100%;
	}

	.btn-submit {
		font-size: 1.5rem;
	}

	.card-2 {
		min-height: 100vh;
	}
}
